* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    background: url(tp_image/images/fond_jaune.png) center no-repeat;
    background-size: cover;
}

header {
    font-size: 25px;
}

header h2 {
    font-weight: bold;
}

header img {
    width: 80px;
    height: auto;
}

main .titre h4 {
    color: rgb(145, 118, 80);
    font-size: 25px;
    font-weight: 600;
}

main span {
    font-weight: bold;
}

main li {
    list-style-position: unset;
}

.image {
    text-align: center;
}

@media screen and (min-width: 576px) {
    .image {
        text-align: right;
    }
}